  /* Add a class to specific components if needed */
  .iconMobile{
    font-size: 1.5rem;
     margin-right : 5px;
  }
  .faArrow{
font-size: 2rem;
  }
  .imgMobile{
    width: 3rem;
     border-radius: 50%;

  }
  .faEllipsis{
    background-color: transparent;
    border: none;
  }
  .replydiv{
  
      background: rgba(0, 0, 0, 1);
      color: white;
      width: 70%;
   
  }
  .profileImg{
   
      width: 200px;
      height: auto;
      max-width: 100%;
      border-radius: 50%;
     
   
  }
  
  .component-without-scrollbar {
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  @media (max-width: 768px) {
    body {
      font-size: 70%; /* Reduce the font size to 60% */
    }
    .iconMobile{
      font-size: 80%;
    }
    .imgMobile{
    width: 2rem;
  
    }
    .faArrow{
      font-size: 1.5rem;
        }
    .replydiv{
  
       width: 95%;
       
      }
    .iconComment{
      font-size: 90%;
    }
    .profileImg{
      width: 150px;

    }
  }
  